@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  /* Typography */
  font-size: 20px;
  font-family: "Outfit", sans-serif;

  /* Colors */
  --Black: #25272c;
  --White: #fafafa;
}

body {
  color: var(--Black);
  background-color: var(--White);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

button {
  cursor: pointer;
}
