@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  /* Typography */
  font-size: 24px;
  font-family: "Outfit", sans-serif;

  /* Colors */
  --Black: #292a2e;
  --White: #f4f4f4;
  --Primary: #3a94e8;
  --Secondary: #e8a63a;
  --SmallTextColor: #3e4755;
  --Sun: #d2af69;
  --Moon: #9abfcf;
  --Cloud: #98a3af;
  --Divider: #d0d7e0;
  --Rain: #3981c5;
  --UvIndex: #9967da;
  --WhiteSmallText: #97a1ae;
  --Footer: #232629;
  --Background: #283454;
  --DayBackground: linear-gradient(to bottom, #95bdda 0%, #2a80be 100%);
}

body {
  color: var(--Black);
  background-color: var(--Background);
  margin: 0;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

input {
  display: block;
  font-size: 0.8rem;
  font-family: inherit;
  padding: 10px 18px;
  color: var(--SmallTextColor);
  border: 1px solid var(--SmallTextColor);
  border-radius: 8px 0 0 8px;
  border-right: none;
  max-width: 250px;
  background-color: var(--White);
}

input::placeholder {
  color: var(--WhiteSmallText);
  font-weight: 300;
}

button {
  padding: 0;
  display: block;
  border: none;
  cursor: pointer;
}

svg {
  display: block;
}

/* Header */

header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  justify-content: space-between;
  align-items: center;
  background-color: var(--White);
  padding: 16px 32px;
}

#app-title {
  font-size: 1rem;
  font-weight: 600;
}

.input-container {
  display: flex;
  align-items: center;
}

#choose-area-button {
  background-color: var(--Primary);
  padding: 11px;
  border-radius: 0 8px 8px 0;
  transition: background-color 200ms;
}

#choose-area-button:hover {
  background-color: #75b0e7;
}

#choose-area-button > svg {
  width: 24px;
  height: 24px;
  fill: var(--White);
}

.header-buttons {
  justify-self: end;
}

.config-button {
  background: none;
  padding: 6px;
  border-radius: 8px;
  transition: background-color 200ms;
}

.config-button:hover {
  background-color: #00000017;
}

.config-button > svg {
  width: 28px;
  height: 28px;
  fill: black;
}

/* Footer */
footer {
  text-align: center;
  background-color: var(--Black);
  color: var(--White);
  font-weight: 300;
  font-size: 0.8rem;
  padding: 32px;
}

a {
  text-decoration: none;
  font-weight: 600;
  color: var(--Primary);
}
