@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  /* Typography */
  font-size: 20px;
  font-family: "Outfit", sans-serif;

  /* Colors */
  --Black: #292a2e;
  --White: #f4f4f4;
  --Primary: #3a94e8;
  --Secondary: #e8a63a;
  --SmallTextColor: #3e4755;
  --Sun: #d2af69;
  --Moon: #9abfcf;
  --Cloud: #98a3af;
  --Divider: #d0d7e0;
  --Rain: #3981c5;
  --UvIndex: #9967da;
  --WhiteSmallText: #97a1ae;
  --Footer: #232629;
  --Background: #283454;
  --DayBackground: linear-gradient(to bottom, #95bdda 0%, #2a80be 100%);
}

body {
  color: var(--Black);
  background-color: var(--White);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

button {
  cursor: pointer;
}
